## First Assignment

#### 1) Apply the appropriate string methods to the **x** variable (as '.upper') to change it exactly to: "$Dichlorodiphenyltrichloroethane$".

In [1]:
x = "DiClOrod  IFeNi  lTRicLOr oETaNo  DiChlorod iPHeny lTrichL oroEThaNe"

In [2]:
answer = x[x.find('DiChl'):].replace(" ","").capitalize()
print(answer)

Dichlorodiphenyltrichloroethane

#### 2) Assign respectively the values: 'word', 15, 3.14 and 'list' to variables A, B, C and D in a single line of code. Then, print them in that same order on a single line separated by a space, using only one print statement.

In [3]:
A, B, C, D = 'word', 15, 3.14, 'list'
print(f"{A} {B} {C} {D}")

word 15 3.14 list

#### 3) Use the **input()** function to receive an input in the form **'68.4 1.71'**, that is, two floating point numbers in a line separated by space. Then, assign these numbers to the variables **w** and **h** respectively, which represent an individual's weight and height (hint: take a look at the '.split()' method). With this data, calculate the individual's Body Mass Index (BMI) from the following relationship: 
    
\begin{equation}
BMI = \dfrac{weight}{height^2}
\end{equation}

In [4]:
w,h = input("Please enter your weight in kilograms and height in metres: ").split()
BMI = float(w)/float(h)**2
print(BMI)

Please enter your weight in kilograms and height in metres: 60 1.75
19.591836734693878

#### This value can also be classified according to ranges of values, following to the table below. Use conditional structures to classify and print the classification assigned to the individual. 

<center><img src="https://healthtravelguide.com/wp-content/uploads/2020/06/Body-mass-index-table.png" width="30%"><\center>  


(source: https://healthtravelguide.com/bmi-calculator/)

In [5]:
if BMI <= 18.5:
    print("underweight")
elif BMI <= 24.9:
    print("normal weight")
elif BMI <= 29.9:
    print("pre-obesity")
elif BMI <= 34.9:
    print("Obesity class 1")
elif BMI <= 39.9:
    print("Obesity class 2")
else:
    print("Obesity class 3")

normal weight

#### 4) Receive an integer as an input and, using a loop, calculate the factorial of this number, that is, the product of all the integers from one to the number provided.

In [6]:
num = int(input("Please enter any integer: "))
fact = 1
for i in range(1,num+1):
    fact *= i 
print(f"{num}! = {fact}")

Please enter any integer: 12
12! = 479001600

#### 5) Using a while loop and the input function, read an indefinite number of integers until the number read is -1. Present the sum of all these numbers in the form of a print, excluding the -1 read at the end.

In [7]:
sum_numbers, number = 0, 0
while number != -1:
    sum_numbers += number
    number = int(input("Please enter any integer: "))
print(f"Sum of numbers = {sum_numbers}")

Please enter any integer: 56
Please enter any integer: 55
Please enter any integer: 79
Please enter any integer: 35
Please enter any integer: 57
Please enter any integer: 1
Please enter any integer: -1
Sum of numbers = 283

#### 6) Read the **first name** of an employee, his **amount of hours worked** and the **salary per hour** in a single line separated by commas. Next, calculate the **total salary** for this employee and show it to two decimal places.

In [8]:
emp_name, hours_wk, hours_sal = input("Please enter the name, sum of hours worked and salary per hour, separated by commas: ").split(",")
total_sal = float(hours_wk)*float(hours_sal)
print('{:.2f}'.format(total_sal))

Print name, sum of hours worked and salary per hour, separated by commas: Doris,30,200
6000.00

#### 7) Read three floating point values **A**, **B** and **C** respectively. Then calculate itens a, b, c, d and e:

In [9]:
A, B, C = [float(x) for x in input("Please enter A, B and C, separated by commas: ").split(",")]

Please enter A, B and C, separated by commas: 5,8,7

    a) the area of the triangle rectangle with A as the base and C as the height.

In [10]:
print("Area:", A*C/2)

Area: 17.5

    b) the area of the circle of radius C. (pi = 3.14159)

In [11]:
print("Area:", 3.14159*C**2)

Area: 153.93791

    c) the area of the trapezoid that has A and B for bases and C for height.

In [12]:
print("Area:", (A+B)*C/2)

Area: 45.5

    d) the area of the square that has side B.

In [13]:
print("Area:", B**2)

Area: 64.0

    e) the area of the rectangle that has sides A and B.

In [14]:
print("Area:", A*B)

Area: 40.0

#### 8) Read **the values a, b and c** and calculate the **roots of the second degree equation** $ax^{2}+bx+c=0$ using [this formula](https://en.wikipedia.org/wiki/Quadratic_equation). If it is not possible to calculate the roots, display the message **“There are no real roots”**.

In [15]:
a, b, c = [float(x) for x in input("Please enter a, b, c, separated by commas: ").split(",")]
if a == 0:
    print("'a' should not equal nil!")
else:
    delta = (b**2) - (4*a*c)
    if delta < 0:
          print("There are no real roots.")
    elif delta == 0:
          x = -b/(2*a)
          print(f"Root: {x}")
    else:
          x1 = (-b+delta**0.5)/(2*a)
          x2 = (-b-delta**0.5)/(2*a)
          print(f"Roots: {x1}, {x2}")

Please enter a, b, c, separated by commas: 5,7,8
There are no real roots.

#### 9) Read four floating point numerical values corresponding to the coordinates of two geographical coordinates in the cartesian plane. Each point will come in a line with its coordinates separated by space. Then calculate and show the distance between these two points. 

(obs: $d=\sqrt{(x_1-x_2)^2 + (y_1-y_2)^2}$)

In [16]:
x1, y1 = [float(i) for i in input("Please enter the coordinates x1 and y1m separated by commas: ").split(",")]
x2, y2 = [float(i) for i in input("Please enter the coordinates x2 and y2, separated by commas: ").split(",")]
d = ((x1-x2)**2+(y1+y2)**2)**0.5
print(f"d = {d}")

Please enter the coordinates x1 and y1m separated by commas: 9,7
Please enter the coordinates x2 and y2, separated by commas: 8,6
d = 13.038404810405298

#### 10) Read **two floating point numbers** on a line that represent **coordinates of a cartesian point**. With this, use **conditional structures** to determine if you are at the origin, printing the message **'origin'**; in one of the axes, printing **'x axis'** or **'y axis'**; or in one of the four quadrants, printing **'q1'**, **'q2**', **'q3'** or **'q4'**.

In [17]:
x, y = [float(x) for x in input("Please enter x and y, separated by commas").split(",")]

if x == 0 and y == 0:
    print('origin')
elif x == 0:
    print('y axis')
elif y == 0:
    print('x axis')
elif x > 0 and y > 0:
    print('q1')
elif x > 0:
    print('q2')
elif y > 0:
    print('q3')
else:
    print('q4')

Please enter x and y, separated by commas6,8
q1

#### 11) Read an integer that represents a phone code for international dialing.  
#### Then, inform to which country the code belongs to, considering the generated table below:
(You just need to consider the first 10 entries)

In [18]:
import pandas as pd
df = pd.read_html('https://en.wikipedia.org/wiki/Telephone_numbers_in_Europe')[1]
df = df.iloc[:,:2]
df.head(20)

           Country Country calling code
0          Austria                   43
1          Belgium                   32
2         Bulgaria                  359
3          Croatia                  385
4           Cyprus                  357
5   Czech Republic                  420
6          Denmark                   45
7          Estonia                  372
8          Finland                  358
9           France                   33
10         Germany                   49
11          Greece                   30
12         Hungary                   36
13         Iceland                  354
14         Ireland                  353
15           Italy                   39
16          Latvia                  371
17   Liechtenstein                  423
18       Lithuania                  370
19      Luxembourg                  352

In [19]:
code = int(input("Please enter the dialling code:"))
code_dict = {43:'This is the dialling code for Austria.',
             32:'This is the dialling code for Belgium.',
             359:'This is the dialling code for Bulgaria.',
             385:'This is the dialling code for Croatia.',
             357:'This is the dialling code for Cyprus.',
             420:'This is the dialling code for Czech Republic.',
             45:'This is the dialling code for Denmark.',
             372:'This is the dialling code for Estonia.',
             359:'This is the dialling code for Finland.',
             33:'This is the dialling code for France.',
            }
if code in code_dict.keys():
    print(code_dict[code])

Please enter the dialling code:45
This is the dialling code for Denmark.

#### 12) Write a piece of code that reads 6 numbers in a row. Next, show the number of positive values entered. On the next line, print the average of the values to one decimal place.

In [20]:
responses = [float(x) for x in input("Please enter six values, separated by commas: ").split(",")]

pos, total = 0, 0
for i in responses:
    total += i
    if i > 0:
        pos += 1
print(f"{pos} positive numbers")
print(f"Average = {total/6}")

Please enter six values, separated by commas: 6,8,9,3,4,6
6 positive numbers
Average = 6.0

#### 13) Read an integer **N**. Then print the **square of each of the even values**, from 1 to N, including N, if applicable, arranged one per line.

In [21]:
N = int(input("Please enter a Number N: "))
for i in range(1,N+1):
    if i%2==0:
        print(i**2)

Please enter a Number N: 12
4
16
36
64
100
144

#### 14) Using **input()**, read an integer and print its classification as **'even / odd'** and **'positive / negative'** . The two classes for the number must be printed on the same line separated by a space. In the case of zero, print only **'null'**.

In [22]:
number = int(input("Please enter any integer: "))
class1 = "even" if number%2 == 0 else "odd"
class2 = "positive" if number == abs(number) else "negative"
if number == 0:
    print("null")
else:
    print(class1, class2)

Please enter any integer: 45
odd positive

## Challenge
#### 15) Ordering problems are recurrent in the history of programming. Over time, several algorithms have been developed to fulfill this function. The simplest of these algorithms is the [**Bubble Sort**](https://en.wikipedia.org/wiki/Bubble_sort), which is based on comparisons of elements two by two in a loop of passes through the elements. Your mission, if you decide to accept it, will be to input six whole numbers ramdonly ordered. Then implement the **Bubble Sort** principle to order these six numbers **using only loops and conditionals**.  
#### At the end, print the six numbers in ascending order on a single line separated by spaces.

In [24]:
numbers = [int(x) for x in input("Please enter 6 whole numbers sorted randomly, separated by a comma: ").split(",")]
changed = True
while changed:
    changed = False
    for i in range(0,len(numbers)-1):
        if numbers[i] > numbers[i+1]:
            numbers[i],numbers[i+1] = numbers[i+1],numbers[i]
            changed = True
print(' '.join([str(x) for x in numbers]))

Please enter 6 whole numbers sorted randomly, separated by a comma: 5,8,3,6,4,1
1 3 4 5 6 8